# Advent of Code 2018

In [39]:
import pandas as pd
import numpy as np

## Day 1: Chronal Calibration

In [40]:
data = pd.read_csv('./advent_of_code_1_2018.csv')

data.head()

   frequency_changes
0                  3
1                  8
2                 -5
3                 15
4                  9

In [41]:
data.shape

(955, 1)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955 entries, 0 to 954
Data columns (total 1 columns):
frequency_changes    955 non-null int64
dtypes: int64(1)
memory usage: 7.5 KB

### Part 1

_Start at 0 (zero) add the different frequency changes, what frequence do we end up with._

In [43]:
end_frequency = 0

for change in data['frequency_changes']:
    end_frequency += change
    
print(end_frequency)

533

### Part 2

_Find the first frequency that it reaches twice._

In [44]:
# first iteraton
end_frequency = 0
list1=[]

for change in data['frequency_changes']:
    end_frequency += change
    list1.append(end_frequency)

In [45]:
# second iteraton
end_frequency = 533

for change in data['frequency_changes']:
    end_frequency += change
    list1.append(end_frequency)

In [46]:
list1[-1]

1066

In [47]:
# third iteraton
end_frequency = 1066

for change in data['frequency_changes']:
    end_frequency += change
    list1.append(end_frequency)

In [48]:
list1[-1]

1599

In [49]:
# fourth iteraton
end_frequency = 1599

for change in data['frequency_changes']:
    end_frequency += change
    list1.append(end_frequency)

In [50]:
list1[-1]

2132

In [51]:
# fifth iteraton
end_frequency = 2132

for change in data['frequency_changes']:
    end_frequency += change
    list1.append(end_frequency)

In [56]:
list1[-1]

2665

In [57]:
# sixth iteraton
end_frequency = 2665

for change in data['frequency_changes']:
    end_frequency += change
    list1.append(end_frequency)

In [58]:
# give you the position of the duplicates if there are any
[i for i, x in enumerate(list1) if list1.count(x) > 1]

[]

## A while loop is probably good for this problem, I just need to figure out how to break the loop when the first duplicate is found